* {
  font-family: Poppins, "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

nav {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav .logo {
  width: 130px;
  height: 52px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #feb753;
}

.container span {
  width: 600px;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.container h1 {
  width: 600px;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

.container > span {
  background-color: white;
  padding: 10px;
  color: black;
  width: fit-content;
  border-radius: 15px;
}

.questoes {
  margin-top: 20px;
}

.questao:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.679);
  cursor: pointer;
}

.questao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 50px 10px 10px;
  width: 600px;
  font-size: 1.1rem;
}

.exit {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.responder {
  margin-top: 40px;
  background-color: white;
  padding: 15px 20px 15px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
}

.responder:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.679);
  cursor: pointer;
}

.questao span {
  color: black;
  font-weight: bold;
}
